.header__contact {
    margin-left: 82.06px;
    position: relative;
}

.btn.btn-outline:hover {
    transition: all linear 0.5s;
}

.btn.btn-outline:hover .btn__text {
    color: #fff;
}

.btn.btn-outline .btn-wrapper__icon.active {
    transform: rotate(90deg);
    transition: all linear 0.2s;
}

.btn.btn-outline .btn-wrapper__icon .btn__icon {
    background-color: transparent;

}

.btn.btn-outline:hover .btn-wrapper__icon .btn__icon img {
    filter: brightness(0) invert(1) grayscale(1);
}

.btn.btn-outline:hover {
    left: 100%;
    background-color: rgba(1, 76, 152, 1);
    width: 100%;
}

.hide-on-laptop {
    display: none;
}

