.header__contact {
    margin-left: 82.06px;
    position: relative;
}

.btn.btn-outline:hover {
    transition: all linear 0.5s;
}

.btn.btn-outline:hover .btn__text {
    color: #fff;
}

.btn.btn-outline .btn-wrapper__icon.active {
    transform: rotate(90deg);
    transition: all linear 0.2s;
}

.btn.btn-outline .btn-wrapper__icon .btn__icon {
    background-color: transparent;

}

.btn.btn-outline:hover .btn-wrapper__icon .btn__icon img {
    filter: brightness(0) invert(1) grayscale(1);
}

.btn.btn-outline:hover {
    left: 100%;
    background-color: rgba(1, 76, 152, 1);
    width: 100%;
}

.hide-on-laptop {
    display: none;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 768px) {
    .header {
        padding: 0 16px;
    }

    .bar-button-menu {
        cursor: pointer;
        display: block;
    }

    .wrapper-navigation.navigation-in-mobile {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: var(--height-header);
        bottom: 0;
        width: 285px;
        z-index: 999999999999999;
        background-color: rgba(0, 16, 73, 1);
        padding: 0 32px;
        transform: translateX(-100%);
        opacity: 0;
        transition: all 0.2s linear;
    }

    .wrapper-navigation.navigation-in-mobile.active {
        transform: translateX(0%);
        opacity: 1;
    }

    .wrapper-navigation.navigation-in-mobile::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../../../images/a.png");
        background-repeat: no-repeat;
    }

    .navbar-basic {
        flex: 0 0;
        width: 100%;
        margin: unset;
        z-index: 999;
    }

    .navbar-basic .nav-list {
        width: 100%;
        flex-direction: column;
        align-items: unset;
        gap: unset;
        text-align: center;
    }

    .navbar-basic .nav-list .nav-item {
        width: inherit;
        border-bottom: 0.75px solid rgba(255, 255, 255, 1);
        padding: 32px;
    }

    .navbar-basic .nav-list .nav-item .nav-link {
        font-family: "montserrat-light", 'Courier New', Courier, monospace;
        color: #fff;
    }

    .header__contact {
        margin: 0;
        margin-top: 32px;
        z-index: 9999;
    }

    .quote-form__header,
    .quote-form__input,
    .quote-form__textarea,
    .btn.btn-full.btn-done,
    .btn.btn-back-quote-mobile {
        width: 100%;
    }

    .btn.btn-back-quote-mobile {
        margin-top: 24px;
        background-color: transparent;
        outline-color: #fff;
        display: block;
    }

    .btn.btn-back-quote-mobile .btn__text {
        color: #fff;
    }

    /* contact */
    .quote {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
    }
}
