.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 82px;
    height: 90px;
}

.header .header__logo {
    margin: 13px 0;
}

.header .header__logo .header__image {
    width: 81px;
    height: 64.1px;
}

.wrapper-navigation {
    flex: 1;
    display: flex;
    align-items: center;
}