.slogan {
    position: relative;
    width: 522px;
    height: 343px;
    top: 110px;
    left: 167.5px;
    opacity: 0px;
    margin-bottom: 190px;
    z-index: 99;
}

.slogan .slogan__text {
    font-family: "montserrat-bold", 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    line-height: 43.68px;
    text-align: left;
}

.slogan .slogan__text .slogan__text-white {
    color: var(--white-text)
}

.slogan .slogan__text .slogan__text-green {
    color: var(--green-text)
}

.slogan-button {
    margin-top: 80px;
}